/*Cảnh báo đơn hàng*/
.order-alert {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    color: #f40400;             
    font-size: 18px;
    font-weight: bold;
    animation: blink 1.2s infinite;
    vertical-align: middle;
}


.order-link {
    position: relative;
    display: inline-block;
}



.hidden {
    display: none;

}


#account-order-alert {
    position: relative;
    top: -1px;      
    right:10px ;           
    font-size: 15px;           
}


/* Ẩn */
.hidden {
    display: none !important;
}

/* Nhấp nháy nhẹ */
@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
}



