/* Form Styles */
.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
}

h1 {
  text-align: center;
 
}

.toggle-password {
  cursor: pointer;
  margin-left: -30px; 
  position: relative;
  top: 5px; 
}

h2 {
    text-align: center;
    color: #030303; 
    font-weight: 650;
    font-size: 30px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}




