
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #333;
    line-height: 1.00;
}

header {
  background-color: #343a40;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 26px;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0;
}



nav a {
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease; 
}


nav a:hover {
  background-color: #0c0c0d;
  color: #ffc107;
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}


@media (max-width: 600px) {
  nav ul {
      flex-direction: column;
      gap: 10px;
  }

  header h1 {
      font-size: 24px;
  }
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}





/*Thông báo*/
#notification {
  display: none;
  background-color: #f70101;
  color: white;
  padding: 15px 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
}

/* Alert chung */
.order-alert {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    color: #f40400;             
    font-size: 18px;
    font-weight: bold;
    animation: blink 1.2s infinite;
    vertical-align: middle;
}

/*Cảnh báo đơn hàng*/
.order-link {
    position: relative;
    display: inline-block;
}



.hidden {
    display: none;

}


#account-order-alert {
    position: relative;
    top: -1px;      
    right:10px ;           
    font-size: 15px;           
}


/* Ẩn */
.hidden {
    display: none !important;
}

/* Nhấp nháy nhẹ */
@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
}






