
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; 
    color: #333;
    line-height: 1.00;
}

header {
  background-color: #343a40;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 35px;
  margin: 0;
  color:#f7f7f7 ;
}

nav ul {
  display: flex;
  gap: 20px;
  margin: 0;
}



nav a {
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease; 
}


nav a:hover {
  background-color: #0c0c0d;
  color: #ffc107;
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}






